<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="givelifySignIn_V1">
  <test name="Login Test">
      <parameter name="browser" value="chrome"/>
      <classes>
      <class name="givelify_SignIn_testcases.TC_01"/>
       <class name="givelify_SignIn_testcases.TC_02"/>
       <class name="givelify_SignIn_testcases.TC_03"/>
       <class name="givelify_SignIn_testcases.TC_04"/>
       <class name="givelify_SignIn_testcases.TC_05"/>
       <class name="givelify_SignIn_testcases.TC_06"/>
       <class name="givelify_SignIn_testcases.TC_07"/>
       <class name="givelify_SignIn_testcases.TC_08"/>
       <class name="givelify_SignIn_testcases.TC_09"/>
       <class name="givelify_SignIn_testcases.TC_10"/>
       <class name="givelify_SignIn_testcases.TC_11"/>
       <class name="givelify_SignIn_testcases.TC_12"/>
      </classes>
  </test>
  </suite>